[mysqld]
# Базові параметри
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp

# Кодування та колації
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Журналювання
log-error=/var/log/mysql/error.log
# Слухати на всіх доступних інтерфейсах
bind-address=0.0.0.0
